<!-- Just an image -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
                <img src="../assets/logo.png" width="200" height="50" alt="">

        </a>
        <span class="navbar-text">
                <h5>
                        AKAIKE TECHNOLOGIES </h5>
        </span>
</nav>
<br>



<div class="container-fluid">
<div class="row">
        <div class="col-sm-4">
                <div style="text-align:center"><br><br>
                        <h5 class="text-info">

                                File Upload</h5>
                        <input type="file" (change)=on_file_select($event) (click)="clear()"><br><br>
                        <br>
                        <h5 class="shadow-lg p-2 mb-2 bg-light rounded " *ngIf="url" class="text-info">
                                Uploaded Image
                                </h5>
                        <img class="rounded border border-info" *ngIf="url" [src]="url" height="300"
                                width="300">
                        <br>
                        <br>
                      
                        <button class="btn btn-primary" (click)="upload()" [disabled]='is_disabled'>Upload</button>

                </div>
        </div>
        <div class="col-sm-5" *ngIf="showSpinner" class="spinner">
                <br><br>
                <div class="spinner">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                      </div>
        </div>
        
        <div *ngIf='show' class="col-sm-4">
                <br><br><br><br><br><br><br><h6 class="text-info">Grad cam output</h6>
                <img [src]="display_image" height="300" width="300">  
               
        </div>
        <div *ngIf='show' class="col-sm-2">
                <br><br>
                <h6>Predicted diseases</h6>
                <ng-container *ngFor="let e of pbts.slice(0,8); let i = index">
         
                        <p  class="text-info">{{classes[i]}}</p>
                        <div class="progress">
                          
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="e+'%'"  aria-valuemin="0" aria-valuemax="100">{{e}}%</div><br>
                        </div>
                      </ng-container>
        </div>
        <div *ngIf='show' class="col-sm-2">
              
                <br><br><br>
                <ng-container *ngFor="let e of pbts.slice(8,16); let i = index">
         
                        <p  class="text-info">{{classes[i+8]}}</p>
                        <div class="progress">
                          
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="e+'%'"  aria-valuemin="0" aria-valuemax="100">{{e}}%</div><br>
                        </div>
                      </ng-container>
        </div>
      </div>

</div>
<router-outlet></router-outlet>