<!-- Just an image -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
                <img src="../assets/logo.png" width="200" height="50" alt="">

        </a>
        <h2 style="font-size:24px"> AI based Rapid CoVid Screening </h2>
        <span class="navbar-text">
                <h5>
                        AKAIKE TECHNOLOGIES </h5>
        </span>
</nav>
<marquee behavior="scroll" direction="left" style="color: red;">This is just for a demo purpose, please consult a radiologist to verify the findings......... </marquee>




<div class="container-fluid">
<div class="row">
        <div class="col-sm-4">
                <div style="text-align:center"><br><br>
                        <!-- <h5 class="text-info">
                        

                                File Upload</h5> -->
                        <!-- <input type="file" accept="image/*" (change)=on_file_select($event) [value]="v" (click)="clear()"><br><br> -->
                                <div class="row">
                                        <div class="col-md-2">
                                               
                                        </div>
                                        <div class="col-md-8">
                                                <div class="input-group mb-1">
                            
                                                        <div class="custom-file">
                                                          <input type="file" class="custom-file-input" id="inputGroupFile01" (change)=on_file_select($event) (click)="clear()"
                                                          style="width: 20%;">
                                                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                        </div>
                                                      </div>
                                        </div>
                                </div>
                       

                        <br>
                        <h5  *ngIf="url" class="text-info">
                                Uploaded X-ray
                                </h5>
                        <img class="rounded border border-info" *ngIf="url" [src]="url" height="300"
                                width="300">
                        <br>
                        <br>
                      
                        <button class="btn btn-info" (click)="upload()" [disabled]='is_disabled'>Generate report</button>

                </div>
        </div>
        <div class="col-sm-5" *ngIf="showSpinner" class="spinner">
                <br><br>
                <div class="spinner">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                      </div>
        </div>
        
        <div *ngIf='show' class="col-sm-4">
                <br><br><br><br><br><h5 class="text-info" >Hotspots for {{hotspot_class}}</h5>
                <img [src]="display_image" height="300" width="300">  
               
        </div>
        <div *ngIf='show' class="col-sm-3">
                <br>
                <h5 class="text-info">Findings</h5>
                <br>
                <ng-container *ngFor="let e of pbts; let i = index">
         
                        
                        <div class="progress">
                          
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="e+'%'"  aria-valuemin="0" aria-valuemax="100">{{e}}%</div><br>
                        </div>
                        <p  class="text-info" >{{classes[i]}}</p>
                      </ng-container>
        </div>
        <!-- <div *ngIf='show' class="col-sm-2">
              
                <br><br><br><br>
                <ng-container *ngFor="let e of pbts.slice(8,16); let i = index">
         
                       
                        <div class="progress">
                          
                          <div class="progress-bar bg-danger" role="progressbar" [style.width]="e+'%'"  aria-valuemin="0" aria-valuemax="100">{{e}}%</div><br>
                        </div>
                        <p  class="text-info">{{classes[i+8]}}</p>
                      </ng-container>
        </div> -->
      </div>

</div>
<router-outlet></router-outlet>